@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}

/* Remember, how to make things disappear! */

section {
    height: 100vh;
}

.blue {
    background-color: #00f;
}
.red {
    background-color: #f00;
}
.green {
    background-color: green;
}

header,
footer {
    color: #fff;
    text-align: center;
    height: 100px;
}

header {
    position: sticky;
    top: 0;
    font-size: 5rem;
}

footer {
    background-color: #000;
    position: fixed;
    bottom: 0;
}